Below is the example code used for testing
Examples come from https://towardsdatascience.com/30-examples-to-master-pandas-f8a2da751fa4

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv("./data/Churn_Modelling.csv")
df.columns

temperature = 0.71, max length = 1134, Top P = 1, Frequency penalty = 0, Presence penalty = 0, Best of = 1

Below is the sample data from testing GPT-3

Example 1

Prompt:

####Code#####
import numpy as np
import pandas as pd
df = pd.read_csv("./data/Churn_Modelling.csv")
df.columns 
####End Code######
####Output######
Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')
####End Output######

Use the above code and output to write pandas code that will delete the columns 'RowNumber', 'CustomerId', 'Surname', and 'CreditScore' from the dataframe.

Completion:

In [8]:
#output
#-------------------------

####Code#####
import numpy as np
import pandas as pd
df = pd.read_csv("./data/Churn_Modelling.csv")
df.columns 
df.drop(['RowNumber', 'CustomerId', 'Surname', 'CreditScore'], axis = 1, inplace = True)
####End Code######
####Output######
Index(['Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')
####End Output######

NameError: name 'Index' is not defined

In [10]:
#fixed output to run
#-------------------------

####Code#####
import numpy as np
import pandas as pd
df = pd.read_csv("./data/Churn_Modelling.csv")
df.columns 
df.drop(['RowNumber', 'CustomerId', 'Surname', 'CreditScore'], axis = 1, inplace = True)
####End Code######
df.columns

Index(['Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

Example 2-a

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" that only loads the columns 'Gender', 'Age', 'Tenure', and 'Balance', and then prints out the head of the dataframe.

Completion:

In [11]:
#output
#-------------------------
df = pd.read_csv("./data/Churn_Modelling.csv", usecols=['Gender', 'Age', 'Tenure', 'Balance'])

print(df.head())

   Gender  Age  Tenure    Balance
0  Female   42       2       0.00
1  Female   41       1   83807.86
2  Female   42       8  159660.80
3  Female   39       1       0.00
4  Female   43       2  125510.82

Example 2-b

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" that only loads the columns 'Gender', 'Age', 'Tenure', and 'Balance', and then  outputs the first 20 entries of the dataframe.


Completion:

In [12]:
#output
#-------------------------
import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv", usecols = ['Gender', 'Age', 'Tenure', 'Balance'])

print(df.head(20))

    Gender  Age  Tenure    Balance
0   Female   42       2       0.00
1   Female   41       1   83807.86
2   Female   42       8  159660.80
3   Female   39       1       0.00
4   Female   43       2  125510.82
5     Male   44       8  113755.78
6     Male   50       7       0.00
7   Female   29       4  115046.74
8     Male   44       4  142051.07
9     Male   27       2  134603.88
10    Male   31       6  102016.72
11    Male   24       3       0.00
12  Female   34      10       0.00
13  Female   25       5       0.00
14  Female   35       7       0.00
15    Male   45       3  143129.41
16    Male   58       1  132602.88
17  Female   24       9       0.00
18    Male   45       6       0.00
19  Female   24       6       0.00

Example 3

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" but only includes the first 5000 rows in the dataframe.

Completion:

In [13]:
#output
#-------------------------
import pandas as pd df = pd.read_csv("./data/Churn_Modelling.csv", nrows=5000)

SyntaxError: invalid syntax (<ipython-input-13-dc07a9cd225b>, line 3)

In [14]:
#fixed output
#-------------------------
import pandas as pd 
df = pd.read_csv("./data/Churn_Modelling.csv", nrows=5000)

Example 4-a

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" and then creates another dataframe made up of 1000 samples of the first dataframe.

Completion:

In [15]:
#output
#------------------
import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

new_df = df.sample(n=1000)

Example 4-b

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" and then creates another dataframe made up of 10% of the samples from the original dataframe.

Completion:

In [16]:
#output
#----------------

df = pd.read_csv("./data/Churn_Modelling.csv") df_10 = df.sample(frac=0.1)

SyntaxError: invalid syntax (<ipython-input-16-e5e2d154df46>, line 4)

In [17]:
#fixed output
#----------------

df = pd.read_csv("./data/Churn_Modelling.csv") 
df_10 = df.sample(frac=0.1)

Example 5

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" and then counts the number of missing values in each column.

Completion:

In [18]:
import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

# Count the number of missing values in each column

df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

Example 6-a

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv", then chooses 20 random indices and replaces the entries in those indices for 'Balance' and 'Geography' with nan.

Completion:

In [19]:
#output
#-------------

df = pd.read_csv("./data/Churn_Modelling.csv")

random_indices = np.random.choice(df.index, 20, replace=False)

df.loc[random_indices, ['Balance', 'Geography']] = np.nan

Example 6-b

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv", then find the indices for all missing values and replace those values with nan.

Completion:

In [20]:
#output (fail)
#-----------
import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

df.replace({' ': np.nan}, inplace=True)

indices = df.isna().any(1).nonzero()[0]

df.loc[indices, ' '] = np.nan

AttributeError: 'Series' object has no attribute 'nonzero'

Example 6-c

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv", then replace all missing values with nan.

Completion:

In [21]:
#output (note - didn't use fillna function)
#------------
import pandas as pd

data = pd.read_csv("./data/Churn_Modelling.csv")

data.replace(to_replace = "", value = np.nan, inplace = True)

Example 7-a

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv", then fills all missing values in the 'Geography' column with the most common value.

Completion:

In [22]:
#output
#--------------
import pandas as pd

# Read the file
df = pd.read_csv("./data/Churn_Modelling.csv")

# Fill the missing values
df['Geography'] = df['Geography'].fillna(df['Geography'].mode())

# Print the result
print(df)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

Example 7-b

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv", then fills all missing values in the 'Balance' column with the average value.

Completion:

In [23]:
#output
#------------
import pandas as pd

data = pd.read_csv("./data/Churn_Modelling.csv")

data["Balance"] = data["Balance"].fillna(data["Balance"].mean())

Example 8-a

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" and remove any entries with missing values.

Completion:

In [24]:
#output
#-----------
import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

df = df.dropna()

Example 8-b

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" and remove any entries with missing values inplace.

Completion:

In [29]:
#output
#-------------

import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

df.dropna(inplace=True)

Example 8-c

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" and remove any columns with missing values inplace.

Completion:

In [30]:
#output (fail - missed column reference)
#-------------

import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

df.dropna(inplace=True)

Example 8-d

Prompt:

Write pandas code that reads a dataframe from the file named "./data/Churn_Modelling.csv" and remove data columns that have missing values in them.

Completion:

In [31]:
#output
#---------------------


import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

# Remove columns with missing values

df.dropna(axis=1, inplace=True)

Example 9-a

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and  creates another dataframe composed of entries from France that have churned.

Completion:

In [37]:
#output (fail - assuming Country for column with France, also gives warning about reindexing if fixed)
#----------------------


import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

churned = df[df['Country'] == 'France'][df['Exited'] == 1]

<ipython-input-37-1f355043ca36>:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  churned = df[df['Geography'] == 'France'][df['Exited'] == 1]

Example 9-b

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and creates another dataframe by selecting entries from France that have churned.

Completion:

In [34]:
#output (fail - assuming "Country" for column with France)

import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

df_france_churned = df.loc[(df["Country"] == "France") & (df["Exited"] == 1)]

KeyError: 'Country'

Example 9-c

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and  creates another dataframe by selecting entries with Geography France that have churned.

Completion:

In [39]:
#output (fail - messed up Exited column now)
#--------------------------
import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

df_France_Churned = df[(df.Geography == 'France') & (df.Churned == 1)]

AttributeError: 'DataFrame' object has no attribute 'Churned'

Example 9-d

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and  creates another dataframe by selecting entries with Geography France where Exited is 1.

Completion:

In [40]:
#output (success)
#--------------------
df = pd.read_csv("./data/Churn_Modelling.csv")

df_france_exited_1 = df.loc[(df["Geography"] == "France") & (df["Exited"] == 1)]

Example 10-a

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and  creates another dataframe with entries where Balance is between 80000 and 100000.

Completion:

In [41]:
#output
import pandas as pd

file_name = "./data/Churn_Modelling.csv"
dataframe = pd.read_csv(file_name)

new_dataframe = dataframe[(dataframe["Balance"] >= 80000) & (dataframe["Balance"] <= 100000)]

Example 10-b

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and  creates another dataframe with entries where Balance is between 80000 and 100000 using a string query.

Completion:

In [44]:
#output
#-----------------

import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

new_df = df.query('80000 <= Balance <= 100000')

Example 11-a

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and creates another dataframe where tenure is either 4, 6, 9, or 10.

Completion:

In [45]:
#output (fail - didn't infer Tenure from tenure)

import pandas as pd

df = pd.read_csv("./data/Churn_Modelling.csv")

new_df = df[df['tenure'].isin([4, 6, 9, 10])]

KeyError: 'tenure'

Example 11-b

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and creates another dataframe where Tenure is either 4, 6, 9, or 10.

Completion:

In [47]:
#output - wasnt clever enough to use isin() function

df = pd.read_csv("./data/Churn_Modelling.csv")
df2 = df[df["Tenure"] == 4]
df2 = df2.append(df[df["Tenure"] == 6])
df2 = df2.append(df[df["Tenure"] == 9])
df2 = df2.append(df[df["Tenure"] == 10])

Example 11-c

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and creates another dataframe where Tenure is either 4, 6, 9, or 10. Use as few lines as possible.

Completion:

In [50]:
#output
#-----------------
df1 = pd.read_csv("./data/Churn_Modelling.csv")
df2 = df1.loc[df1["Tenure"].isin([4, 6, 9, 10])]

Example 12

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and create another dataframe that gives that is composed of the average Exited value with entries grouped by Georgraphy and Gender.

Completion:

In [51]:
#output (raw)
#-----------------------
df = pd.read_csv("./data/Churn_Modelling.csv") df.groupby(['Geography', 'Gender'])['Exited'].mean()

SyntaxError: invalid syntax (<ipython-input-51-d648f6b9410f>, line 3)

In [52]:
# output with line spacing fixed (note it caught the typo in Geography)
#-----------------------
df = pd.read_csv("./data/Churn_Modelling.csv") 
df.groupby(['Geography', 'Gender'])['Exited'].mean()

Geography  Gender
France     Female    0.203450
           Male      0.127134
Germany    Female    0.375524
           Male      0.278116
Spain      Female    0.212121
           Male      0.131124
Name: Exited, dtype: float64

Example 13-a

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and create another dataframe that gives that is composed of the average Exited value and number of entries in the group with entries grouped by Geography and Gender.

Completion:

In [53]:
#output
#--------
df = pd.read_csv("./data/Churn_Modelling.csv")

grouped = df.groupby(['Geography', 'Gender'])

avgs = grouped['Exited'].mean()

counts = grouped['Exited'].count()

new_df = pd.concat([avgs, counts], axis=1)

new_df.columns = ['Average Exited', 'Number of Entries']

Example 13-b

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and create another dataframe that gives that is composed of the average Exited value and number of entries in the group with entries grouped by Geography and Gender. Use as few lines as possible.

Completion:

In [57]:
#output (note weird trailing df)
#-----------------------

df = pd.read_csv("./data/Churn_Modelling.csv")

df = df.groupby(['Geography', 'Gender']).agg({'Exited': ['mean', 'count']})

df

                    Exited
                      mean count
Geography Gender
France    Female  0.203450  2261
          Male    0.127134  2753
Germany   Female  0.375524  1193
          Male    0.278116  1316
Spain     Female  0.212121  1089
          Male    0.131124  1388

Example 14-a

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and creates a summary dataframe with the sum of the Exited column and the average of the Balance column with entries grouped by Geography.

Completion:

In [58]:
#output

df = pd.read_csv("./data/Churn_Modelling.csv")

df_summary = df.groupby("Geography").agg({"Exited": "sum", "Balance": "mean"})

In [59]:
df_summary.head()

           Exited        Balance
Geography
France        810   62092.636516
Germany       814  119730.116134
Spain         413   61818.147763

Example 14-b

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and creates a summary dataframe with the sum of the Exited column and the average of the Balance column with entries grouped by Geography. Rename the Exited column as # of customers and the Balance column as Average Balance of Customers.

In [60]:
#output

import pandas as pd churn_data = pd.read_csv("./data/Churn_Modelling.csv") churn_data.head() churn_data.groupby('Geography').agg({'Exited':'sum', 'Balance':'mean'}).rename(columns={'Exited': '# of customers', 'Balance': 'Average Balance of Customers'})

SyntaxError: invalid syntax (<ipython-input-60-c3a744b1eaf3>, line 3)

In [61]:
#output with line spacing correction

import pandas as pd 
churn_data = pd.read_csv("./data/Churn_Modelling.csv") 
churn_data.head() 
churn_data.groupby('Geography').agg({'Exited':'sum', 'Balance':'mean'}).rename(columns={'Exited': '# of customers', 'Balance': 'Average Balance of Customers'})

           # of customers  Average Balance of Customers
Geography
France                810                  62092.636516
Germany               814                 119730.116134
Spain                 413                  61818.147763

In [62]:
churn_data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Example 14-c

Prompt:

Write pandas code that loads a dataframe from the file named "./data/Churn_Modelling.csv" and creates a summary dataframe with the sum of the Exited column and the average of the Balance column with entries grouped by Geography. In the summary dataframe, rename the Exited column as # of customers and the Balance column as Average Balance of Customers.

Completion:

In [63]:
#output
import pandas as pd

dataframe = pd.read_csv("./data/Churn_Modelling.csv")

summary_dataframe = dataframe.groupby("Geography").agg({"Exited": "sum", "Balance": "mean"})

summary_dataframe.rename(columns={"Exited": "# of customers", "Balance": "Average Balance of Customers"}, inplace=True)

In [64]:
summary_dataframe.head()

           # of customers  Average Balance of Customers
Geography
France                810                  62092.636516
Germany               814                 119730.116134
Spain                 413                  61818.147763